@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #f8f8f8;

}
html, body {
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    padding-top: 0.1px;
}
#navBar{
    height: 11vh;
    /* background-color: yellow; */
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 4vw;
    display: grid;
    grid-template-columns: 45% 15% 28% 12%;
}
#navBar #part1{
    display: flex;
    align-items: center;
    padding-right: 3vw;
    justify-content: space-between;
    border-right: 2px solid black;
}
#navBar #part1 h2{
    font-family: Monument;
    font-size: 2.25rem;
    letter-spacing: -4px;
    /* background-color: red; */
    position: relative;
}
#navBar #part1 h2::after{
    content: "©";
    font-family: sans-serif;
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    right: -20px;

}
#navBar #part1 h2::before{
    content: "model management";
    font-family: sans-serif;
    position: absolute;
    bottom: -3px;
    font-size: .7rem;
    letter-spacing: 0;
    font-weight: 400;
    right: 0px;

}
#navBar #part1 h4,#navBar #part2 h4,#navBar #part3 h4{
    font-size: 1.2rem;
    font-weight: 500;
}
#navBar #part4 h4{
    font-size: 1.5rem;
    font-weight: 500;
}
#navBar #part2{
    display: flex;
    border-right: 2px solid black;
    align-items: center;
    justify-content: center;
}
#navBar #part3{
    display: flex;
    align-items: center;    
    border-right: 2px solid black;
    justify-content: center;
}
#navBar #part4{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3vw;
}
#videoWrap{
    height: calc(100vh - 11vh - 30px);
    padding: 3vw 4vw 0vw;
    /* background-color: red; */
}
#videoWrap #video{
    height: 100%;
    /* background-color: yellow; */
    position: relative;
}
#videoWrap #video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#videoWrap #video #overlap{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 1vw 3.5vw;
}
#videoWrap #video #overlap #part1{
    display: flex;    
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 2vw;
}
#videoWrap #video #overlap #part1 h1{
    font-family: Monument;
    background-color: transparent;
    color: #f8f8f8;
    font-size: 3.5rem;
}
#videoWrap #video #overlap #part1 #box{
    width: 85px;
    height: 85px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#videoWrap #video #overlap #part1 #box p{
    font-size: 1.1rem;
    background-color: transparent;
    color: #f8f8f8;
}
#videoWrap #video #overlap #part2{
    border-top: 2px solid #f8f8f8;
    padding-top: 1vw;

}
#videoWrap #video #overlap #part2 p{
    background-color: transparent;
    font-size: 1.15rem;
    color: #f8f8f8;
}
#videoWrap #video #overlap #part2 img{
    background-color: transparent;
    width: 60px;
    height: 25px;
    object-fit: cover;
    color: #f8f8f8;
}
#videoWrap #video #overlap #part2{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}


#picMarq{
    height: 40vh;
    /* padding: 70vh 0 5vh 0; */
    padding: 0 0vw;
    /* background-color: red; */
    display: flex;
    gap: 1vw;
    overflow: hidden;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
#picMarq #wrap{
    height: 80%;
    /* border: 2px solid black; */
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-shrink: 0;
    width: 129.5vw;
    animation-name: picMarkq;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes picMarkq {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 1vw));
    }
}
#picMarq #wrap .box{
    height: 90%;
    width: 235px;
    /* border: 2px solid black; */
    flex-shrink: 0;

    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#picMarq #wrap .box img{
    height: 85%;
    width: 93%;
    object-fit: cover;
    object-position: 0 20%;
    border-radius: 50%;
}
#picMarq #wrap .box p{
    background-color: transparent;
    font-size: 1.1rem;
}


#letters{
    /* background-color: red; */
    height: 10.5vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#letters p{
    font-size: 1.6rem;
    text-decoration: underline;
    font-style: italic;
}
#letters #letter{
    display: flex;
    align-items: center;
    width: 92%;
    justify-content: space-between;
}
#letters #letter .letterParent{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 2.2rem;
    /* background-color: red; */
    border: 0px solid black;
    
}
#letters #letter .letterParent:hover{
    border: 2px solid black;
    cursor: pointer;
}
#letters #letter .letterParent p{
    font-size: 1.2rem;
    text-decoration: none;
}