* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
}
#part1{
    /* background-color: red; */
    padding: 15% 0 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#part1 #branding h1{
    font-size: 8rem;
    line-height: 1;
    font-weight: 300;
}
#part1 #colors{
    height: 30px;
    border-radius: 70px;
    width: 120px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 12px;
    margin-bottom: 40px;
    border: 1.5px solid black;
}
#part1 #colors p{
    font-size: 1rem;
}
#part1 #colors #c1{
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
}
#part1 #colors #c2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}
#part1 #colors #pickColor{
    display: flex;
    gap: 3px;
}
#detailing{
    width: 55%;
}
#detailing h4{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 7px;
}
#detailing p{
    font-size: 1rem;
    line-height: 1.4;
}
#part2{
    /* background-color: pink; */
    display: flex;
    align-items: end;
}
#part2Wrapper{
    height: 73%;
    width: 60%;
    /* background-color: yellow; */
    display: grid;
    grid-template-rows: 10% 90%;
    position: relative;
}
#part21{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#part21 #price{
    font-size: 1.2rem;
    font-weight: 500;
}
#part21 #star{
    display: flex;
}
#part21 #star p{
    font-size: .9rem;
    font-weight: 00;
    margin-right: 5px;
}
#part21 #star i{
    font-size: .85rem;
    font-weight: 500;
}
#part22{
    background-color: brown;
    background: url(https://images.unsplash.com/photo-1623953939152-c551dfdabe99?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: bottom;
    background-size: cover;
}
#add{
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.820);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.35rem;
    top: 20%;
    left:80%;
}
#cap{
    position: absolute;
    left: -15%;
    top: 90%;
    font-size: 2rem;
    font-weight: 600;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}