*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html , body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 40% 10%;
}
#info{
    padding: 2rem 1.5rem 2rem 2rem;
    background-color: red;
    display: grid;
    grid-template-rows: 10% 25% 50% 15%;
}
#part-1{
    background-color: rgb(56, 148, 228);
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#part-1 #logo{
    width: 1rem;
    height: 1rem;
    background-color: black;
    transform: translateX(4px) rotate(45deg) ;
}
#part-1 #menu h2{
    font-size: 1rem;
    font-weight: 500;
}
#part-2{
    background-color: brown;
}
#part-3{
    background-color: beige;
}
#part-4{
    background-color: blueviolet;
}
#vid{
    padding: 2rem 2rem 2rem 1.5rem;
    background-color: green;
}
#search{
    padding: 2rem 2rem 2rem 2rem;
    background-color: blue;
}