*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: black;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 0.1px;
}
#nav-bar{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 25px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    display: grid;
    grid-template-columns: 30% 15% 18% 22% 15%;
    justify-items: center;
    align-items: center;
}
#nav-bar h1{
    font-family: monument;
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: -3px;
    /* background-color: blue; */
    position: relative;
}
#nav-bar h1::after{
    content: "©";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    right: -8.5%;
    top: 0;
}
#nav-bar h1::before{
    content: "model management";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .73vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 0%;
    bottom: -5%;
}
#nav-bar h3{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35vw;
    font-weight: 600;
    /* background-color: rgb(84, 136, 181); */
}
#nav-bar h3:nth-last-child(1){
    padding-right: 40%;
}
#nav-bar .nav-ele-border{
    border-left: 2px solid black;
}
#nav-bar h3 i{
    font-size: 1.45vw;
    font-weight: 600;
}
#nav-bar h3 a:hover{
    text-decoration: underline;
}
#nav-bar h3 i:hover{
    cursor: pointer;
}
#video-content{
    width: 100%;
    height: calc( 100vh - 11vh - 25px );
    /* background-color: rgb(222, 144, 144); */
    padding: 3% 5.7%;
    
}
#video-content #main-part{
    height: 100%;
    width: 100%;
    /* background-color: rgb(99, 99, 212); */
    position: relative;
}
#video-content #main-part video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-content #video-desc{
    position: absolute;
    bottom: 0;
    padding: 1% 4%;
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    backdrop-filter: blur(6px);
}
#video-content #video-desc #part-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid white;
    padding-bottom: 2%;
}
#video-content #video-desc #part-1 h1{
    font-size: 4vw;
    font-family: monument;
    line-height: 1.1;
    font-weight: 600;
    color: white;
}
#video-content #video-desc #part-1 p{
    color: white;
    font-size: 1.2vw;
    padding: 2.1% 2.1%;
    border: 3px solid rgba(255, 255, 255, 0.371);
    border-radius: 50%;
    border-bottom: 3px solid white;
}
#video-content #video-desc #part-2{
    /* background-color: aqua; */
    /* padding-top: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#video-content #video-desc #part-2 p{
    color: white;
    font-size: 1.2vw;
}
#image-scroll{
    width: 100%;
    height: 40vh;
    display: flex;
    overflow: hidden;
    /* border-bottom: 2px solid black; */
    margin-bottom: 3%;
}
#image-scroll #img-container{
    width: 140%;
    height: 100%;
    /* padding: 2% 0%; */
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    align-items: center;
    flex-shrink: 0;
    /* border: 2px solid black; */
    animation-name: scroll-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.img-box{
    height: 85%;
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(234, 122, 122); */
}
.img-box img{
    height: 80%;
    width: 100%;
    /* margin: .7vw; */
    border-radius: 50%;
    object-fit: cover;
}
.img-box p{
    font-size: 1.2vw;
    font-weight: 600;
}
@keyframes scroll-animation{
    from{
        transform : translateX(0%);
    }
    to{
        transform : translateX(-100%);
    }
}
#alphabets{
    background-color: rgb(205, 161, 103);
    display: flex;
    height: 11vh;
    justify-content: center;
}
#alphabets #alpha-cont{
    display: flex;
    background-color: rgb(124, 176, 222);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100% - 5.7% - 5.7%);
    
}
#alphabets #alpha-cont #part-1{
    /* background-color: cadetblue; */
} 
#alphabets #alpha-cont #part-2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    /* background-color: rebeccapurple; */
}
#alphabets #alpha-cont #part-2 .letter-cont{
    height: 2.8vw;
    width: 2.8vw;
    /* background-color: yellow; */
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#alphabets #alpha-cont #part-2 .letter-cont:hover{
    border: 2px solid rgba(0, 0, 0, 0.707);
}
#alphabets #alpha-cont h5{
    font-size: 1.8vw;
    font-style: italic;
    font-weight: 500;
}
#alphabets #alpha-cont h6{
    font-size: 1.22vw;
    font-style: italic;
    font-weight: 500;
    /* background-color: yellow; */
}