*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: black;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 0.1px;
}
#nav-bar{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 25px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    display: grid;
    grid-template-columns: 30% 15% 18% 22% 15%;
    justify-items: center;
    align-items: center;
}
#nav-bar h1{
    font-family: monument;
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: -3px;
    /* background-color: blue; */
    position: relative;
}
#nav-bar h1::after{
    content: "©";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    right: -8.5%;
    top: 0;
}
#nav-bar h1::before{
    content: "model management";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .73vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 0%;
    bottom: -5%;
}
#nav-bar h3{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35vw;
    font-weight: 600;
    /* background-color: rgb(84, 136, 181); */
}
#nav-bar h3:nth-last-child(1){
    padding-right: 40%;
}
#nav-bar .nav-ele-border{
    border-left: 2px solid black;
}
#nav-bar h3 i{
    font-size: 1.45vw;
    font-weight: 600;
}
#nav-bar h3 a:hover{
    text-decoration: underline;
}
#nav-bar h3 i:hover{
    cursor: pointer;
}
#video-content{
    width: 100%;
    height: calc( 100vh - 11vh - 25px );
    /* background-color: rgb(222, 144, 144); */
    padding: 3% 5.7%;
    
}
#video-content #main-part{
    height: 100%;
    width: 100%;
    /* background-color: rgb(99, 99, 212); */
    position: relative;
}
#video-content #main-part video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-content #video-desc{
    position: absolute;
    bottom: 0;
    padding: 1% 4%;
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
}
#video-content #video-desc #part-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid white;
    padding-bottom: 2%;
}
#video-content #video-desc #part-1 h1{
    font-size: 4vw;
    font-family: monument;
    line-height: 1.1;
    font-weight: 600;
    color: white;
}
#video-content #video-desc #part-1 p{
    color: white;
    font-size: 1.2vw;
    padding: 2.1% 2.1%;
    border: 3px solid rgba(255, 255, 255, 0.371);
    border-radius: 50%;
    border-bottom: 3px solid white;
}
#video-content #video-desc #part-2{
    /* background-color: aqua; */
    padding-top: 2%;
}
#video-content #video-desc #part-2 p{
    color: white;
    font-size: 1.2vw;
}