*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: black;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 0.1px;
}
#nav-bar{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 25px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    display: grid;
    grid-template-columns: 30% 15% 18% 22% 15%;
    justify-items: center;
    align-items: center;
}
#nav-bar h1{
    font-family: monument;
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: -3px;
    /* background-color: blue; */
    position: relative;
}
#nav-bar h1::after{
    content: "©";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    right: -8.5%;
    top: 0;
}
#nav-bar h1::before{
    content: "model management";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .73vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 0%;
    bottom: -5%;
}
#nav-bar h3{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35vw;
    font-weight: 600;
    /* background-color: rgb(84, 136, 181); */
}
#nav-bar h3:nth-last-child(1){
    padding-right: 40%;
}
#nav-bar .nav-ele-border{
    border-left: 2px solid black;
}
#nav-bar h3 i{
    font-size: 1.45vw;
    font-weight: 600;
}
#nav-bar h3 a:hover{
    text-decoration: underline;
}
#nav-bar h3 i:hover{
    cursor: pointer;
}
#video-content{
    width: 100%;
    height: calc( 100vh - 11vh - 25px );
    /* background-color: rgb(222, 144, 144); */
    padding: 3% 5.7%;
    
}
#video-content #main-part{
    height: 100%;
    width: 100%;
    /* background-color: rgb(99, 99, 212); */
    position: relative;
}
#video-content #main-part video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-content #video-desc{
    position: absolute;
    bottom: 0;
    padding: 1% 4%;
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    backdrop-filter: blur(6px);
}
#video-content #video-desc #part-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid white;
    padding-bottom: 2%;
}
#video-content #video-desc #part-1 h1{
    font-size: 4vw;
    font-family: monument;
    line-height: 1.1;
    font-weight: 600;
    color: white;
}
#video-content #video-desc #part-1 p{
    color: white;
    font-size: 1.2vw;
    padding: 2.1% 2.1%;
    border: 3px solid rgba(255, 255, 255, 0.371);
    border-radius: 50%;
    border-bottom: 3px solid white;
}
#video-content #video-desc #part-2{
    /* background-color: aqua; */
    /* padding-top: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#video-content #video-desc #part-2 p{
    color: white;
    font-size: 1.2vw;
}
#image-scroll{
    width: 100%;
    height: 40vh;
    display: flex;
    overflow: hidden;
    /* border-bottom: 2px solid black; */
    margin-bottom: 3%;
}
#image-scroll #img-container{
    width: 140%;
    height: 100%;
    /* padding: 2% 0%; */
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    align-items: center;
    flex-shrink: 0;
    /* border: 2px solid black; */
    animation-name: scroll-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.img-box{
    height: 85%;
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(234, 122, 122); */
}
.img-box img{
    height: 80%;
    width: 100%;
    /* margin: .7vw; */
    border-radius: 50%;
    object-fit: cover;
}
.img-box p{
    font-size: 1.2vw;
    font-weight: 600;
}
@keyframes scroll-animation{
    from{
        transform : translateX(0%);
    }
    to{
        transform : translateX(-100%);
    }
}
#alphabets{
    /* background-color: rgb(205, 161, 103); */
    display: flex;
    height: 11vh;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabets #alpha-cont{
    display: flex;
    /* background-color: rgb(124, 176, 222); */
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100% - 5.7% - 5.7%);
    
}
#alphabets #alpha-cont #part-1{
    /* background-color: cadetblue; */
    margin-left: 1%;
} 
#alphabets #alpha-cont #part-2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    /* background-color: rebeccapurple; */
}
#alphabets #alpha-cont #part-2 .letter-cont{
    height: 2.8vw;
    width: 2.8vw;
    /* background-color: yellow; */
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#alphabets #alpha-cont #part-2 .letter-cont:hover{
    border: 2px solid rgba(0, 0, 0, 0.507);
    transition: all 0.1s ease 0s;

}
#alphabets #alpha-cont h5{
    font-size: 1.8vw;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}
#alphabets #alpha-cont h6{
    font-size: 1.32vw;
    font-style: italic;
    font-weight: 500;
    /* background-color: yellow; */
}
#vogue-container{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    padding: 3% 5.7% 0% 5.7%;
}
#vogue-container #vogue-cont{
    height: 100%;
    width: 100%;
    /* background-color: rgb(145, 145, 78); */
    display: flex;
}
#vogue-container #vogue-cont #part1{
    height: 100%;
    width: 55%;
    margin-right: 5%;
    /* background-color: blueviolet; */
    /* border: 2px solid black; */
}
#vogue-container #vogue-cont #part1 #part1-img{
    width: 100%;
    height: 85%;
    background-color: black;
}
#vogue-container #vogue-cont #part1 #part1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#vogue-container #vogue-cont #part1 #part1-cap{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
#vogue-container #vogue-cont #part1 #part1-cap h1{
    font-family: monument;
}
#vogue-container #vogue-cont #part2{
    height: 85%;
    width: calc(100% - 55% - 5%);
    /* background-color: rgb(193, 157, 227); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#vogue-container #vogue-cont #part2 #part2-img{
    height: 72%;
    width: 100%;
    /* background-color: rgb(111, 30, 188); */
}
#vogue-container #vogue-cont #part2 #part2-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
}
#vogue-container #vogue-cont #part2 #part2-cont{
    height: 23%;
    width: 100%;
    display: flex;
    /* background-color: rgb(219, 211, 226); */
}
#vogue-container #vogue-cont #part2 #part2-cont #part2-cont1{
    height: 100%;
    width: 50%;
    /* background-color: rgba(31, 181, 96, 0.241); */
    /* border: 2px solid black; */
}
#vogue-container #vogue-cont #part2 #part2-cont #part2-cont1 h3{ 
    font-size: 1.45vw;
    line-height: 1.11;
    font-weight: 500;
}
#vogue-container #vogue-cont #part2 #part2-cont #part2-cont2{
    height: 100%;
    width: 50%;
    /* background-color: rgba(36, 17, 163, 0.158); */
}
#vogue-container #vogue-cont #part2 #part2-cont #part2-cont2 p{
    font-size: 1vw;
    line-height: 1.2;
    font-weight: 400;
}
#showcase{
    height: 180%;
    width: 100%;
    /* background-color: aqua; */
    padding: 3% 5.7% ;
}
#showcase #showcase-cont{
    height: 100%;
    width: 100%;
    /* background-color: rgb(179, 133, 100); */
}
#showcase #showcase-cont #top{
    width: 100%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    /* border: 2px solid black; */
}
#showcase #showcase-cont #top #left{
    width: 35%;
    height: 100%;
    /* background-color: rgb(194, 222, 58); */
}
#showcase #showcase-cont #top #left #part1{
    width: 100%;
    height: 70%;
    /* background-color: rgb(32, 185, 62); */
    display: flex;
    justify-content: start;
    align-items: center;
}
#showcase #showcase-cont #top #left #part1 img{
    width: 90%;
}
#showcase #showcase-cont #top #left #part2{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    /* background-color: rgb(216, 111, 188); */
}
#showcase #showcase-cont #top #left #part2 h3{
    font-size: 1.7vw;
    line-height: 1.2;
    font-weight: 500;
}
#showcase #showcase-cont #top #right{
    width: 59%;
    height: 100%;
    /* background-color: rgb(61, 127, 207); */
}
#showcase #showcase-cont #top #right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 40%;
}
#showcase #showcase-cont #bottom{
    width: 100%;
    height: 40%;
    /* background-color: rgb(222, 183, 183); */
}
#showcase #showcase-cont #bottom{
    width: 100%;
    height: 40%;
    padding-top: 3%;
    /* background-color: red; */
}
#showcase #showcase-cont #bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 30%;
}
#update{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    padding: 3% 5.7% 0% 5.7%;
    margin-top: 3%;
}
#update #update-cont{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#update #update-cont h1{
    font-size: 3vw;
    font-family: monument;
    text-align: center;
}
#update #update-cont #main-cont{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    /* background-color: rgb(201, 201, 217); */
}
#update #update-cont #main-cont .box{
    /* background-color: rgb(37, 7, 66); */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
    position: relative;
}
#update #update-cont #main-cont .box::after{
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #2f2f2f;
    opacity: 1;
    transition: all .1s ease 0s;
}
#update #update-cont #main-cont .box:hover::after{
    height: 100%;
}
#update #update-cont #main-cont .box:nth-last-child(1){
    border-bottom: 2px solid black;
}
#update #update-cont #main-cont .box #part1{
    /* background-color: red; */
    width: 7%;
    position: relative;
    z-index: 1;
}
#update #update-cont #main-cont .box #part1 p{
    font-size: 1.1vw;
    font-weight: 400;
    
}
#update #update-cont #main-cont .box #part2{
    /* background-color: red; */
    width: 50%;
    position: relative;
    z-index: 1;
}
#update #update-cont #main-cont .box #part2 h2{
    font-size: 3.2vw;
    font-weight: 500;
    
}
#update #update-cont #main-cont .box #part2 p{
    font-size: .9vw;
    font-weight: 400;
}
#update #update-cont #main-cont .box:hover p{
    color: white;
}
#update #update-cont #main-cont .box:hover h2{
    color: white;
}
#update #update-cont #main-cont .box:hover{
    border-top-color: white;
}
#movie-shot{
    width: 100%;
    height: 250%;
    /* background-color: aqua; */
    padding: 5% 5.7% ;
    margin-top: 3%;
}
#movie-shot #part1{
    height: 35%;
    width: 100%;
    /* background-color: rgb(218, 133, 133); */
    display: flex;
    justify-content: space-between;
}
#movie-shot #part1 #part11{
    height: 100%;
    width: 45%;
    /* background-color: azure; */
}
#movie-shot #part1 #part11 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#movie-shot #part1 #part12{
    height: 100%;
    width: 50%;
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#movie-shot #part1 #part12 #part121{
    width: 100%;
    height: 47%;
    /* background-color: rgba(31, 48, 48, 0.268); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#movie-shot #part1 #part12 #part121 h2{
    font-size: 2.5vw;
    font-family: monument;
}
#movie-shot #part1 #part12 #part121 h3{
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1;
}
#movie-shot #part1 #part12 #part121 p{
    font-size: 1.1vw;
    font-weight: 390;
}
#movie-shot #part1 #part12 #part122{
    width: 100%;
    height: 45%;
    /* background-color: rgb(58, 112, 150); */
    display: flex;
    justify-content: space-between;
}
#movie-shot #part1 #part12 #part122 #part1221{
    width: 52%;
    height: 100%;
    /* background-color: rgb(58, 112, 150); */
    /* border: 1px solid black; */
}
#movie-shot #part1 #part12 #part122 #part1221 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}
#movie-shot #part1 #part12 #part122 #part1222{
    width: 40%;
    height: 100%;
    /* background-color: rgb(58, 112, 150); */
    /* border: 1px solid black; */
}
#movie-shot #part1 #part12 #part122 #part1222 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}

#movie-shot #part2{
    height: 23%;
    margin: 5% 0%;
    width: 100%;
    /* background-color: rgb(154, 148, 148); */
}
#movie-shot #part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}
#movie-shot #part3{
    height: 35%;
    width: 100%;
    /* background-color: rgba(42, 11, 11, 0.411); */
    display: flex;
    justify-content: space-between;
}
#movie-shot #part3 #part1{
    height:100%;
    width: 52%;
    /* background-color: brown; */
}
#movie-shot #part3 #part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 27%;
}
#movie-shot #part3 #part-2{
    height:100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: brown; */
}
#movie-shot #part3 #part-2 #part21{
    height:65%;
    width: 100%;
    /* background-color: rgb(23, 14, 14); */
}
#movie-shot #part3 #part-2 #part21 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}
#movie-shot #part3 #part-2 #part22{
    height:30%;
    width: 100%;
    display: flex;
    /* background-color: rgb(23, 14, 14); */
}
#movie-shot #part3 #part-2 #part22 #part221{
    height:100%;
    width: 50%;
    /* border: 2px solid white; */
}
#movie-shot #part3 #part-2 #part22 #part222{
    height:100%;
    width: 50%;
    /* border: 2px solid white; */
}
#movie-shot #part3 #part-2 #part22 #part221 h2{
    font-size: 1.6vw;
    line-height: 1.1;
    font-weight: 500;
}
#movie-shot #part3 #part-2 #part22 #part222 h3{
    font-size: 1vw;
    line-height: 1.2;
    font-weight: 400;
}
#infinite-scroll{
    width:100%;
    height: 12vh;
    margin-top: 4%;
    /* background-color: aquamarine; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#infinite-scroll h1{
    flex-shrink: 0;
    font-family: monument;
    margin-right: 2vw;
    font-size: 3.5vw;
    -webkit-text-stroke: 1.2px black;
    color: transparent;
    letter-spacing: 3px;
    /* background-color: rgb(200, 166, 233); */
    animation-name: infinity;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes infinity {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 2vw));
    }
}
#blog{
    width: 100%;
    height: 90%;
    /* background-color: aqua; */
    padding: 6% 5.7% 10% 5.7%;
    border-bottom: 2px solid black;
}
#blog #blog-cont{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}
#blog #blog-cont #blog-cont1{
    height: 100%;
    width: 25%;
    /* border: 2px solid black; */
}
#blog #blog-cont #blog-cont1 h1{ 
    font-size: 2.5vw;
    font-family: monument;
}
#blog #blog-cont #blog-cont2{
    height: 100%;
    width: 31%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blog #blog-cont #blog-cont2 #part1{
    height: fit-content;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    position: relative;
}
#blog #blog-cont #blog-cont2 #part1 .first{
    height: 2vw;
    width: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 0); */
}
#blog #blog-cont #blog-cont2 #part1 h2{
    font-size: 1.4vw;
    letter-spacing: .5px;
    line-height: 1.4;
    font-weight: 450;
} 

#blog #blog-cont #blog-cont2 #part2{
    height:65%;
    width: 100%;
    /* border: 2px solid black; */
}
#blog #blog-cont #blog-cont2 #part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}
#blog #blog-cont #blog-cont3{
    height: 100%;
    width: 35%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blog #blog-cont #blog-cont3 #part1{
    height: fit-content;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    position: relative;
}
#blog #blog-cont #blog-cont3 #part1 .first{
    height: 2vw;
    width: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 0); */
}
#blog #blog-cont #blog-cont3 #part1 h2{
    font-size: 1.39vw;
    letter-spacing: .5px;
    line-height: 1.4;
    font-weight: 450;
}
#blog #blog-cont #blog-cont3 #part2{
    height:65%;
    width: 100%;
    /* border: 2px solid black; */
}
#blog #blog-cont #blog-cont3 #part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
}
#foot{
    width: 100%;
    height: 30vh;
    display: flex;
    /* background-color: aqua; */
    padding-left:5.7%;
}
#foot .inside{
    /* background-color: beige; */
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot #inside{
    /* background-color: beige; */
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#foot #box1{
    /* background-color: rgba(146, 193, 146, 0.516); */
    height: 100%;
    width: 37%;
    padding-right: 5%;
    border-bottom: 2px solid black;
}
#foot #box2{
    /* background-color: rgba(126, 40, 98, 0.516); */
    height: 100%;
    width: 26%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#foot #box3{
    /* background-color: rgba(68, 47, 23, 0.516); */
    height: 100%;
    width: 37%;
    border-bottom: 2px solid black;
}
#foot #box1 #first{
    font-family: monument;
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: -3px;
    /* background-color: blue;  */
    position: relative;
}
#foot #box1 #first::after{
    content: "©";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    right: -8.5%;
    top: -10%;
}
#foot #box1 #first::before{
    content: "model management";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .73vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 0%;
    bottom: 0%;
}
#foot #box1 #sec{
    font-size: 1.4vw;
}
#foot #box2 h1{
    font-size: 1.4vw;
}
#foot #box3 h1{
    font-size: 1.4vw;
    /* background-color: red; */
}
#foot #box3 .inside{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
#foot h1 a:hover{
    text-decoration: underline;
}
/* #foot #box1{
    background-color: rgba(146, 193, 146, 0.516);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 85%;
    width: 37%;
    padding-right: 10%;
}
#foot #box1 #first{
    font-family: monument;
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: -3px;
    background-color: blue; 
    position: relative;
}
#foot #box1 #sec{
    font-size: 1.4vw;
}
#foot #box1 #first::after{
    content: "©";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    right: -8.5%;
    top: 15%;
}
#foot #box1 #first::before{
    content: "model management";
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .73vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 0%;
    bottom: 15%;
}
#foot #box2{
    height: 85%;
    width: 26%;
    background-color: rgba(146, 146, 193, 0.516);
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#foot #box2 h1{
    font-size: 1.4vw;
}
#foot #box3{
    height: 85%;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(14, 14, 27, 0.403);
}
#foot #box3 h1{
    font-size: 1.4vw;
    text-align: center;
    padding: 5% 0%;
} */