*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
#left{
    height: 100%;
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 3%;
    /* background-color: rgb(67, 67, 137); */
    
}
#lleft{
    height: 100%;
    width: 100%;
    /* background-color: rgb(206, 177, 14); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lleft-1 h1{
    font-size: 7.2vw;
    font-weight: 400;
    line-height: 1;
}
#lleft-2{
    /* background-color: aqua; */
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
}
#lleft-2 #color{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0px;
    border-radius: 50px;
    width: 115px;
    /* background-color: aqua; */
    border: 2px solid rgba(0, 0, 0, 0.536);
}
#lleft-2 #color h5{
    font-weight: 400;
}
#lleft-2 #color .colr{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
#lleft-2 #color #colour{
    display: flex;
    gap: 5px;
} 
#lleft-2 #color #colour  #color1{
    background-color: #756952;
}
#lleft-2 #color #colour  #color2{
    background-color: #333333;
}
#lleft-2 #details h4{
    font-size: 1.5vw;
}
#lleft-2 #details p{
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5;
}
#right{
    height: 100%;
    width: 50%;
    padding-top: 13%;
    padding-right: 20%;
    /* background-color: rgb(155, 104, 202); */
}
#rright{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: rgb(127, 204, 154); */
}
#rright #price{
    display: flex;
    align-items: center;
    height: 13%;
    justify-content: space-between;
    /* background-color: aqua; */
    
}
#rright #price #total{
    font-size: 1.5rem;
    font-size: Roboto;
    font-weight: 500;
}
#rright #rate{
    display: flex;
    width: 30%;
    height: 60%;
    /* background-color: red; */
    justify-content: end;
    align-items: center;
    gap: 10px;
}
#rright #rate #star{
    /* background-color: #333333; */
    display: flex;
}
#rright #rate p{
    font-size: .7rem;
    font-weight: 700;
    /* background-color: rgb(231, 228, 228); */

}
#rright #rate i{
    font-size: .9rem;
    /* background-color: rgb(151, 12, 231); */

}
#rright #image{
    /* background-color: red; */
    width: 100%;
    height: calc(100% - 13%);
}
#rright #image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
}
#add{
    height: 150px;
    width: 150px;
    background-color: black;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -15%;
    top: 28%;
}
#add p{
    font-size: 1.3rem;
}
#desc{
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    left: -15%;
    bottom: 3%;
}
#desc h2{
    font-size: 1.7rem;
}
@media (max-width:480px){
    #wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }
    #left{
        height: 50%;
        width: 100%;
        padding-top: 10%;
        padding-left: 5%;
        padding-bottom: 3%;
        /* background-color: rgb(67, 67, 137); */
        
    }
    #lleft{
        height: 100%;
        width: 100%;
        /* background-color: rgb(206, 177, 14); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #lleft-1 h1{
        font-size: 17vw;
        font-weight: 400;
        line-height: 1;
    }
    #lleft-2{
        /* background-color: aqua; */
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: 0;
    }
    #lleft-2 #color{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 7px 0px;
        border-radius: 50px;
        width: 90px;
        /* background-color: aqua; */
        border: 2px solid rgba(0, 0, 0, 0.536);
    }
    #lleft-2 #color h5{
        font-weight: 500;
        font-size: 3vw;
    }
    #lleft-2 #color .colr{
        height: 13px;
        width: 13px;
        background-color: black;
        border-radius: 50%;
    }
    #lleft-2 #color #colour{
        display: flex;
        gap: 5px;
    } 
    #lleft-2 #color #colour  #color1{
        background-color: #756952;
    }
    #lleft-2 #color #colour  #color2{
        background-color: #333333;
    }
    #lleft-2 #details h4{
        font-size: 4vw;
    }
    #lleft-2 #details p{
        font-size: 3vw;
        font-weight: 400;
        line-height: 1.3;
    }
    #right{
        height: 50%;
        width: 100%;
        padding-top: 0%;
        padding-right: 10%;
        padding-left: 15%;
        /* background-color: rgb(155, 104, 202); */
    }
    #rright{
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        /* background-color: rgb(127, 204, 154); */
    }
    #rright #price{
        display: flex;
        align-items: center;
        height: 13%;
        justify-content: space-between;
        /* background-color: aqua; */
        
    }
    #rright #price #total{
        font-size: 4.8vw;
        font-size: Roboto;
        font-weight: 500;
    }
    #rright #rate{
        display: flex;
        width: 30%;
        height: 60%;
        /* background-color: red; */
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
    #rright #rate #star{
        /* background-color: #333333; */
        display: flex;
    }
    #rright #rate p{
        font-size: .7rem;
        font-weight: 700;
        /* background-color: rgb(231, 228, 228); */
    
    }
    #rright #rate i{
        font-size: .9rem;
        /* background-color: rgb(151, 12, 231); */
    
    }
    #rright #image{
        /* background-color: red; */
        width: 100%;
        height: calc(100% - 13%);
    }
    #rright #image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 100%;
    }
    #add{
        height: 100px;
        width: 100px;
        background-color: black;
        position: absolute;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -12%;
        top: -13%;
    }
    #add p{
        font-size: 4.2vw;
    }
    #desc{
        position: absolute;
        transform-origin: 0 0;
        transform: rotate(-90deg);
        left: -15%;
        bottom: 3%;
    }
    #desc h2{
        font-size: 7vw;
    }
}