*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}
#left{
    height: 100%;
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 3%;
    /* background-color: rgb(67, 67, 137); */
    
}
#lleft{
    height: 100%;
    width: 100%;
    /* background-color: rgb(206, 177, 14); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lleft-1 h1{
    font-size: 7rem;
    font-weight: 400;
    line-height: 1;
}
#lleft-2{
    /* background-color: aqua; */
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
}
#lleft-2 #color{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    border-radius: 50px;
    width: 17%;
    border: 2px solid rgba(0, 0, 0, 0.536);
}
#lleft-2 #color h5{
    font-weight: 400;
}
#lleft-2 #color .colr{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
#lleft-2 #color #colour{
    display: flex;
    gap: 5px;
} 
#lleft-2 #color #colour  #color1{
    background-color: #756952;
}
#lleft-2 #color #colour  #color2{
    background-color: #333333;
}
#lleft-2 #details h4{
    font-size: 1.35rem;
}
#lleft-2 #details p{
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.5;
}
#right{
    height: 100%;
    width: 50%;
    padding-top: 13%;
    background-color: rgb(155, 104, 202);
}
#rright{
    height: 100%;
    width: 100%;
    background-color: rgb(127, 204, 154);
}