*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sulphur Point;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
#nav-bar{
    height: 9vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar #part2{
    display: flex;
    justify-content: space-around;
}