*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
#nav-bar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar #part-1{
    display: flex;
    align-items: center;
}
#nav-bar #part-1 #part-11{
    font-size: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
#nav-bar #part-1 #part-12{
    font-size: 1.7rem;
    font-weight: 500;
}
#nav-bar #part-2{
    width: 36%;
    background-color: blue;
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}
#nav-bar #part-2 div{
    background-color: aqua;
    padding: .5rem;
}
#nav-bar #part-2 a{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor: pointer;
    transition: font-weight .3s ease;
}
#nav-bar #part-2 div a:hover{
    font-weight: 500;
}