*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    border: 2px solid black;
    display: inline-block;
    font-size: 5rem;
    padding: 2rem 4rem;
    border-radius: 5rem;
}
