*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
#wrapper{
    height: 100%;
    width: 100%;
    background: url(https://images.pexels.com/photos/26728046/pexels-photo-26728046/free-photo-of-photo-of-the-water-surface.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-wrapper{
    height: 70%;
    width: 50%;
    background-color: #ffffff1d;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5rem;
}
#userinp{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 50%;
}
#inp{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: none;
}
#imp{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 5px;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    text-decoration: underline;
    cursor: pointer;
}
#button{
    padding: 13px 18px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to top right , grey , white);
    font-size: 1.1rem;
    cursor: pointer;
}