* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    cursor: none; /* Hide the default cursor */
}
body::-webkit-scrollbar{
    display: none;
    background-color: transparent;
}
#loader{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #0d0d0d;
    position: fixed;
    z-index: 4;
    padding: 20vh 0 0 4.5vw;
}
#loader .line{
    overflow: hidden;
}
#loader .line:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: start ;
    margin-left: 5vw;
    width: 40%;
}
#line1-part1{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#line1-part1 #time{
    /* background-color: rebeccapurple; */
    width: 38%;
    text-align: end;
}
#line1-part1 h3{
    font-size: 3.3vw;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin-top: 2.5%;
}
#loader .line h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    font-weight: 450;
    line-height: 1;
}
#loader .line h1 span{
    animation-name: spanchange;
    animation-duration: .7s;
    animation-delay: 3;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-left: 3.7vw;
}
@keyframes spanchange {
    0%{
        font-family: Roboto;
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        -webkit-text-stroke: 1.7px white;
        color: transparent;
        opacity: 1;
    }
}
#wrapper{
    background-color: #000000;
    position: relative;
}
#cursor{
    width: 42px;
    height: 42px;
    border: 2px solid rgba(234, 231, 231, 0.689);
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    /* transform: translate(-50%,-50%); */
    mix-blend-mode: difference;
}
#page0{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 3;
    display: none;
}
#page1,#page2,#page3,#page4,#page5,#page6{
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    /* border: 2px solid white; */
    background-color: rgb(24, 23, 23);
}
#page1{
    height: 92vh;
}
#page2{
    padding-top: 1px;
}
#page3,#page4{
    min-height: fit-content;
    /* background-color: aqua; */
}
/* rgb(24, 23, 23) */
#page1 #nav-bar{
    /* background-color: red; */
    height: 16.5vh;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 0 5vw;
    padding-top: 6.5vh;
}
#page1 #nav-bar h3{
    font-size: 1.02vw;
    font-weight: 400;
}
#page1 #nav-bar #part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9%;
}
#page1 #nav-bar #part1 h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 #nav-bar #part2 h3{
    line-height: 1;
}
#page1 #nav-bar #part3{
    display: flex;
    /* background-color: blue; */
    width: 54%;
    justify-content: end;
    gap: 2.6vw;
}
#hero{
    position: relative;
    /* background-color: pink; */
    /* border: 2px solid white; */
}
#hero::before{
    content: "01";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3.5vw;
    position: absolute;
    top: 0;
    left: 19%;
    z-index: 2;
}
#hero .cont{
    /* background-color: rgb(211, 171, 171); */
    /* border: 1px solid white; */
    width: 70%;
    margin-left: 28.5%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#hero .cont:nth-child(1){
    margin-top: 12.5vh;
}
#hero .cont h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
}
#hero .cont h1 span{
    /* background-color: rgb(192, 106, 106); */
    text-decoration: underline;
    /* border-bottom: 1px solid white; */
    /* border-spacing: 2vw; */
    transition: all ease 0.25s;
    position: relative;
}
#hero .cont span .mask{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    /* z-index: 22; */
}
#hero .cont h1 span:hover{
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
#page2 #videocont{
    height: 70vh;
    width: 70.8vw;
    margin-left: auto;
    position: relative;
    /* background-color: lavender; */
    /* border: 2px solid white; */
    margin-top: 7%;
    display: flex;
    align-items: center;
}
#page2 #videocont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#page2 #videocont #videocrsr{
    height: 10.2vw;
    width: 10.2vw;
    background-color: #FFA63D;
    position: absolute;
    border-radius: 50%;
    z-index:3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 77%;
    top: 0;
    transform: translate(-50%,-50%);
}
#page2 #videocont #videocrsr i{
    font-size: 1.8vw;
}
#page2 #videocont #videocrsr #pause{
    display: none;
}
#page2 #videocont video{
    height: 98%;
    width: 100%;
    object-fit: cover;
}
#page3 .heading{
    position: relative;
}
#page4 .heading{
    position: relative;
}
.heading .cont{
    /* background-color: rgb(211, 171, 171); */
    /* border: 1px solid white; */
    width: 65%;
    margin-left: 28.5%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 4vw 0;
    border-bottom: 2px solid white;
}
.heading .cont h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
}
.heading#two::before{
    content: "02";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3.5vw;
    position: absolute;
    top: 26%;
    left: 19%;
    z-index: 2;
}
.heading#three::before{
    content: "03";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3.5vw;
    position: absolute;
    top: 26%;
    left: 19%;
    z-index: 2;
}
#page4 #about{
    width: 70%;
    margin-left: 28.5%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 2vw 0;
    /* border: 2px solid white; */
}
#page4 #about #inside-abt{
    width: 70vw;
    height: 150vh;
    border-bottom: 2px solid white;
    display: flex;
    position: relative;
}
#page4 #about h2{
    width: 55%;
    font-size: 2.6vw;
    font-weight: 300;
    line-height: 1.1;
}
#page4 #about #img1{
    margin-top: 3.5vw;
    height: 85vh;
    width: 35vw;
    flex-shrink: 0;
}
#page4 #about #img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4 #about #inside-abt h4{
    width: 28%;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 2.5vw;
}
#page4 #about #inside-abt #win{
    height: 70vh;
    width: 34vw;
    background-color: #3F7DF4;
    position: absolute;
    top:40%;
    left: 35%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    padding: 3.5vw 3vw ;
}
#page4 #about #inside-abt #win .parts{
    /* background-color: rgb(61, 61, 137); */
    border-bottom: 2px solid #ffffff76;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#page4 #about #inside-abt #win .parts h2{
    font-size: 1.5vw;
    width: 55%;
}
#page4 #about #inside-abt #win .parts h3{
    font-size: .95vw;
    width: 45%;
    font-weight: 400;
}
#page5{
    padding-top: .1px;
}
#marque{
    /* height: 60vh; */
    /* background-color: rgba(255, 0, 0, 0.473); */
    margin-top: 5vw;
}
#marque .mark{
    /* border: 2px solid white; */
    display: flex;
    /* overflow-x: auto; */
}
#marque .mark h1{
    font-size: 8vw;
    /* border: 1px solid white; */
    flex-shrink: 0;
    -webkit-text-stroke: 2px white;
    color: transparent;
    
}
#marque .mark#mark1 h1,#marque .mark#mark3 h1{
    animation-name: markmoverleft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#marque .mark#mark2 h1,#marque .mark#mark4 h1{
    transform: translateX(-100%);
    animation-name: markmoverright;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes markmoverleft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100%));
    }
}
@keyframes markmoverright {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(calc(0%));
    }
}
#marque .mark h1 span{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
#page6{
    min-height: 132vh;
}
.heading#four{
    position: relative;
}
.heading#four i{
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.heading#four::before{
    content: "04";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3.5vw;
    position: absolute;
    top: 26%;
    left: 19%;
    z-index: 2;
}
#page6 #foots{
    /* background-color: red; */
    height: 56vh;
    width: 70%;
    margin-left: 28.5%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 5vw 0;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#page6 #foots .foot{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}
#page6 #foots .foot h2{
    font-size: 1.9vw;
    font-weight: 300;
    line-height: .95;
    position: relative;
}
#page6 #foots .footcont{
    width: fit-content;
    /* background-color: sienna; */
    overflow: hidden;
}
#page6 #foots #foot1 h2,#page6 #foots #foot3 h2{
    transition: all .4s linear;
    /* background-color: red; */
}
#page6 #foots .foot h4{
    font-size: 1.2vw;
    font-weight: 300;
}
#page6 #foots #foot1 h2::after,#page6 #foots #foot3 h2::after{
    content:attr(data-text);
    position: absolute;
    left: 0;
    /* background-color: pink; */
    top: 125%;
    /* transition: all 7.6s linear; */

}
#page6 #foots #foot1 h2:hover,#page6 #foots #foot3 h2:hover{
    transform: translateY(-125%);
}
/* #page6 #foots #foot1 h2:hover::after{
    top: 0%;
} */
 #page6 #copy{
    /* background-color: red; */
    width: 70%;
    margin-left: 28.5%;
    margin-top: 3vw;
 }
 #page6 #copy h3{
    font-size: 1.3vw;
    font-weight: 400;
 }