* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
}
html, body {
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
    background-color: transparent;
}
#loader{
    /* display: none; */
    height: 100vh;
    width: 100vw;
    background-color: #0d0d0d;
    position: fixed;
    z-index: 4;
    padding: 20vh 0 0 4.5vw;
}
#loader .line{
    overflow: hidden;
}
#loader .line:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: start ;
    margin-left: 5vw;
    width: 40%;
}
#line1-part1{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#line1-part1 #time{
    /* background-color: rebeccapurple; */
    width: 38%;
    text-align: end;
}
#line1-part1 h3{
    font-size: 3.3vw;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin-top: 2.5%;
}
#loader .line h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    font-weight: 450;
    line-height: 1;
}
#loader .line h1 span{
    animation-name: spanchange;
    animation-duration: .7s;
    animation-delay: 3;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-left: 3.7vw;
}
@keyframes spanchange {
    0%{
        font-family: Roboto;
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        -webkit-text-stroke: 1.7px white;
        color: transparent;
        opacity: 1;
    }
}
#wrapper{
    background-color: #000000;
    position: relative;
}
#cursor{
    width: 42px;
    height: 42px;
    border: 2px solid rgba(234, 231, 231, 0.689);
    border-radius: 50%;
    position: fixed;
    z-index: 4;
    /* transform: translate(-50%,-50%); */
    mix-blend-mode: difference;
}
#page0{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 3;
    /* display: none; */
}
#page1,#page2{
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    /* border: 2px solid white; */
    background-color: rgb(24, 23, 23);
}
#page1{
    height: 92vh;
}
#page2{
    padding-top: 1px;
}
/* rgb(24, 23, 23) */
#page1 #nav-bar{
    /* background-color: red; */
    height: 16.5vh;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 0 5vw;
    padding-top: 6.5vh;
}
#page1 #nav-bar h3{
    font-size: 1.02vw;
    font-weight: 400;
}
#page1 #nav-bar #part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9%;
}
#page1 #nav-bar #part1 h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 #nav-bar #part2 h3{
    line-height: 1;
}
#page1 #nav-bar #part3{
    display: flex;
    /* background-color: blue; */
    width: 54%;
    justify-content: end;
    gap: 2.6vw;
}
#hero{
    position: relative;
    /* background-color: pink; */
    /* border: 2px solid white; */
}
#hero::before{
    content: "01";
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3.5vw;
    position: absolute;
    top: 0;
    left: 19%;
    z-index: 2;
}
#hero .cont{
    /* background-color: rgb(211, 171, 171); */
    /* border: 1px solid white; */
    width: 70%;
    margin-left: 28.5%;
    overflow: hidden;
    position: relative;
}
#hero .cont:nth-child(1){
    margin-top: 12.5vh;
}
#hero .cont h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
}
#hero .cont h1 span{
    /* background-color: rgb(192, 106, 106); */
    text-decoration: underline;
    /* border-bottom: 1px solid white; */
    /* border-spacing: 2vw; */
    transition: all ease 0.25s;
}
#hero .cont h1 span:hover{
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
#page2 #videocont{
    height: 70vh;
    width: 70.8vw;
    margin-left: 28vw;
    position: relative;
    /* background-color: lavender; */
    /* border: 2px solid white; */
    margin-top: 2.5%;
}
#page2 #videocont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page2 #videocont #videocrsr{
    height: 10.2vw;
    width: 10.2vw;
    background-color: #FFA63D;
    position: absolute;
    border-radius: 50%;
    z-index:3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 77%;
    top: 0;
    transform: translate(-50%,-50%);
}
#page2 #videocont #videocrsr i{
    font-size: 1.8vw;
}
#page2 #videocont video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}