* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#wrapper {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
#navBar{
    /* height: 5vw; */
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: yellow;
    padding-right: 3vw;
    gap: 1.8rem;
}
#navBar h3{
    font-size: 1rem;
    font-weight: 500;
}
#navBar #bagIcon{
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navBar #bagIcon i{
    color: white;
    font-size: 1.1rem;
}