*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100vh;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
#nav-1{
    /* background-color: aqua; */
    height: 80px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}
#nav-1 #part1{
    display: flex;
}
#nav-1 #part2{
    display: flex;
    gap: 2.7vw;
}

#nav-1 #part2 h4 span{
    color: rgba(0, 0, 0, 0.503);
    margin-left: 10px;
}
#nav-1 #part2 h4{
    font-weight: 500;
    font-size: .8vw;
}
#nav-1 #part2 #menu-nav1{
    display: none;
}
.circle{
    height: 20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
}
#nav-2{
    /* background-color: rgb(206, 134, 134); */
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 3vw;
    gap: 4vw;
}
#nav-2 h4{
    font-weight: 500;
    font-size: .9vw;
}
#content{
    height: calc(100% - 80px - 60px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text{
    height: 45%;
    width: 100%;
    /* background-color: bisque; */
}
#image{
    height: 55%;
    width: 100%;
    /* background-color: rgb(255, 140, 0); */
}
#image #image-cont{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    overflow: hidden;
}
#image #image-cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#text{
    display: flex;
    overflow-x: auto;
}
#text::-webkit-scrollbar{
    background-color: transparent;
    height: 6px;
}
#text::-webkit-scrollbar-thumb{
    background-color: #E2795C;
    cursor:grabbing;
}
.text-rep{
    height: 100%;
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
}
.text-rep .text-part{
    display: flex;
    height: 15%;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: aqua; */
}
.text-rep .text-part #no p{
    font-size: 1.35vw;
    font-weight: 700;
}
.text-rep .text-part #topic p{
    font-size: 1.1vw;
    font-weight: 400;
}
.text-rep h1{
    font-size: 7.1vw;
    font-weight:300;
    font-family:  Roboto;
    padding-left: 15%;
}
@media(max-width:480px){
    #nav-1{
        /* background-color: aqua; */
        height: 80px;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        padding: 0 3vw;
    }
    #nav-1 #part1{
        display: flex;
    }
    #nav-1 #part2{
        display: flex;
        align-items: center;
        gap: 5vw;
    }
    
    #nav-1 #part2 h4 span{
        color: rgba(0, 0, 0, 0.503);
        margin-left: 10px;
    }
    #nav-1 #part2 h4{
        font-weight: 600;
        font-size: 2.2vw;
    }

    .circle{
        height: 17px;
        width:17px;
        background-color: black;
        border-radius: 50%;
    }
    #nav-1 #part2 .nav-1_v{
        display: none;
    }
    #nav-1 #part2 #menu-nav1{
        display: initial;
        font-size: 4.5vw;
        font-weight: 900;
    }
    #nav-2{
        /* background-color: rgb(206, 134, 134); */
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
        gap: 0vw;
    }
    #nav-2 h4{
        font-weight: 500;
        font-size: 2.5vw;
    }
}