* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
.page{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    background-color: #9AC1CB;
    color: black;
    font-size: 20rem;
    
    text-transform: uppercase;
    padding: 0 5rem;
    overflow: hidden;
}
h1{
    font-weight: 600;
    letter-spacing: -2rem;
}