*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    width: 100%;
    height: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    margin: 20px 0;
}
#gallery{
    max-width: 1200px;
    height: 100%;
    background-color: beige;
    margin:auto;
}