*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
}
#nav{
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3%;
    gap: 2%;
    background-color: aqua;
}
#nav div h3{
    font-weight: 500;
    font-size: 1.1vw;
}
#nav div:nth-child(4){
    padding: .8vw;
    background-color: black;
    color: #fff;
    border-radius: 50%;
}
#nav div i{
    font-size: 1.2vw;
}
#head-ing{
    font-family: Helvetica, sans-serif;
    padding-left: 5vw;
    padding-top: 2vh;
    background-color: blue;
    height: 32vh;
}
#head-ing h1{
    font-size: 4vw;
    font-weight: 500;
}
#part{
    height: 28vh;
    background-color: brown;
}
#image{
    height: calc(100%-80px-32vh-30vh);
    width: 100%;
    background-color: black;
}